version: '4'
services:
  mysqldb:
    image: mysql:8.3.0
    container_name: order-mysqldb
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
    volumes:
      - ./mysql:/var/lib/mysql
      - ./docker/mysql/schemas.sql:/docker-entrypoint-init-db.d/schemas.sql
